# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
build/
develop-eggs/
dist/
downloads/
.eggs/
parts/
sdist/
wheels/
pip-wheel-metadata/
*.manifest
*.spec

# Virtual environment
venv/
env/
.venv/

# Jupyter Notebook
.ipynb_checkpoints/

# Logs
*.log

# IDE files
.vscode/
.idea/
